body {
	margin:0px;
	padding:0px;
	}
.mobile_main {
	width: 100%;
	height: auto;
	min-height:600px;
	float: left;
	background-image: url(images/beer_bg.png);
	background-repeat: repeat-x;
	background-position: center top;
	}
.rotary_div {
	width: 100%;
	height: auto;
	float: left;
	text-align: center;
	padding-top: 60px;
	}
.beer_form_main{
	width:100%;
	float:left;
	height:auto;
	}
.form_wrap{
	width: 190px;
	margin: 0 auto;
	height: auto;
	}
.form_1{
	width: 100%;
	float: left;
	height: auto;
	margin-bottom: 8px;
	}	
	
.field_name {
	width: 100%;
	height: 17px;
	float: left;
	}	
.fiel_area {
	width:100%;
	height:auto;
	float:left;
	}		
.field_frmt {
	width:96%;
	height:20px;
	float:left;
	padding-left:1%;
	padding-right:1%;
	background: rgba(204, 204, 204, 0.5);
	border:solid 1px #b7b6b6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.check_box {
	width:30px;
	height:auto;
	float:left;
	margin-left:5px;
	margin-top:10px;
	}
	
.check_name {
	width: 140px;
	height: auto;
	float: right;
	}	
	

/* ROUNDED TWO */
.roundedTwo {
	width: 30px;
	height: 30px;
	position: relative;
	
}

.roundedTwo label {
	cursor: pointer;
	position: absolute;
	width: 28px;
	height: 28px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: -3px;
	top:-3px;
	background-image: url(images/check_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	
}

.roundedTwo label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 9px;
	left: 8px;
	border: 3px solid #333333;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.roundedTwo input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}	

.submit_btn {
	width: 100%;
	height: auto;
	float: left;
	text-align: center;
	}
#step1 {
	float: left;
	width: 100%;
}
.error { 
	color: #D8000C; 
	font-size:12px;
	margin-top:0px;
	border:#FF0000 solid 1px;
}
 
.error1 { 
color: #D8000C; 
	font-size:12px;
	display:none;
	margin-top:35px;
	margin-left:10px;
	position:absolute;
	}

.success { 
	display: none; 
	padding:10px; 
	color: #044406; 
	font-size:12px;
	background-color: #B7FBB9;
}

.loading {
	position:absolute;
	z-index:1;
	height:328px;
	width:190px;
	display:none;
	background-image: url(images/loaderOrangeFadingCircle.gif);
	background-repeat: no-repeat;
	background-position:center;
	background-color:rgba(255, 255, 255, 0.8);
}
.done {
    background:url(iconIdea.gif) no-repeat 2px;
    padding-left:20px;
    font-family:arial;
    font-size:12px;
    width:70%;
    margin:20px auto;
    display:none
}